.rectangle {
    padding: 60px 0;
    &__title {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #181819;
    }
    &__descr {
        margin: 0 auto;
        width: 750px;
        margin-top: 40px;
        font-size: 15px;
        line-height: 23px;
        color: #181819;
    }
    &__link {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #181819;
        display: block;
        width: 126px;
        margin: 40px auto 0 auto;  
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px dashed #181819;
        &:hover {
            color: #181819;
            border-bottom: none;
            padding-bottom: 6px;
        }
    }
}